body {
   background-color: white;
   color: black;
}

form {
   width: 35%;
   border: solid orange 2px;
   padding: 1%;
   padding-bottom: 2em; 
}

fieldset {
   min-width: 50%; 
}

label {
   display: block;
   padding: 1%;
}

input {
   float: right;
   padding-right: 12%;
   min-width: 25%;
   max-width: 50%;
}

p {
   margin-left: 2%;
   display: inline;
}

fieldset:first-child>label {
   float: right;
   clear: both;
   padding-top: 0%;
   /*! width: 30%; */
}

fieldset:first-child>label:nth-child(2) {
   width: 97%;
   margin-bottom: 5%;
}

input[type="radio"] {
   min-width: 0%;
}

input[type="submit"] {
   float: left;
   font-weight: bold;
   padding: 0%;
   min-width: 15%;
}